<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mental Health Counseling System</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-center">
                    Mental Health Counselling System
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-success text-white text-center h3">
                    Register as a consultant
                </div>
                <div class="card-body">
                    <div>
                        <a class="btn text-decoration-none btn-success btn-block text" href="/registration/doctor">Register as a Consultant</a>
                    </div>
                    <div class="mt-2">
                        <a class="btn text-decoration-none btn-success btn-block" href="/registration/patient">Register to consult a doctor</a>
                    </div>

                </div>
                <div class="bg-dark text-center text-white card-footer">
                    <strong><a class="text-decoration-none text-white" href="/login">Already have an account? Login</a></strong>
                </div>
            </div>

        </div>
        <div class="col-auto">
        </div>
    </div>
</div>

<script type="application/javascript" src="/jquery/jquery.min.js"></script>
<script type="application/javascript" src="/popper/popper.min.js"></script>
<script type="application/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
